emenda/modulos/sistema/ws-sigef/xsd/xml.fnde.ws-sigef.conta_corrente.solicitar.request.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.1.654 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="xml.fnde.ws-sigef.base.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="xml.fnde.ws-sigef.base.xsd" />
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="header" />
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="params">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_processo" type="nu_processo" />
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_banco">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="3" />
                          <xs:pattern value="[0-9]{3}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_agencia">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="4" />
                          <xs:pattern value="[0-9]{4}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="cnpj" type="nu_cgc_favorecido" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>