emenda/modulos/sistema/ws-sigef/xsd/xml.fnde.ws-sigef.convenio.consultar.response.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.1.654 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="xml.fnde.sigef.base.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="xml.fnde.ws-sigef.base.xsd" />
  <xs:element id="response" name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="header" />
        <xs:element name="status" type="status" />
        <xs:element minOccurs="0" name="body">
          <xs:complexType>
                   <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_convenio">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="an_exercicio">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="4" />
                          <xs:pattern value="20[0-9]{2}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
</xs:schema>