emenda/modulos/sistema/ws-sigef/xsd/xml.fnde.ws-sigef.pagamento.solicitar.request.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.1.654 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="xml.fnde.sigef.base.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="xml.fnde.ws-sigef.base.xsd" /> 
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="header" />
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="params">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_cgc_favorecido" type="nu_cgc_favorecido" />
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_seq_conta_corrente_favorec">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:totalDigits value="15" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_processo" type="nu_processo" />
                    <xs:element minOccurs="1" maxOccurs="1" name="an_convenio_original">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="4" />
                          <xs:pattern value="20[0-9]{2}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_convenio_original">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:totalDigits value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="nu_convenio_siafi">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:totalDigits value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="vl_custeio">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:fractionDigits value="2" />
                          <xs:totalDigits value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="vl_capital">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="20" />
                          <xs:fractionDigits value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="an_referencia">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="4" />
                          <xs:pattern value="20[0-9]{2}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="dt_publicacao" type="xs:date" />
                    <xs:element name="detalhamento_pagamento">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="item">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="1" maxOccurs="1" name="nu_parcela">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:totalDigits value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="an_exercicio">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="20[0-9]{2}" />
                                      <xs:maxLength value="4" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="vl_parcela">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="20" />
                                      <xs:fractionDigits value="2" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="an_parcela">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="4" />
                                      <xs:pattern value="20[0-9]{2}" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="nu_mes">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:enumeration value="01" />
                                      <xs:enumeration value="02" />
                                      <xs:enumeration value="03" />
                                      <xs:enumeration value="04" />
                                      <xs:enumeration value="05" />
                                      <xs:enumeration value="06" />
                                      <xs:enumeration value="07" />
                                      <xs:enumeration value="08" />
                                      <xs:enumeration value="09" />
                                      <xs:enumeration value="10" />
                                      <xs:enumeration value="11" />
                                      <xs:enumeration value="12" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="nu_documento_siafi_ne">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:totalDigits value="10" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>