emenda/modulos/sistema/ws-sigef/xsd/xml.fnde.ws-sigef.empenho.consultar.response.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.1.654 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="xml.fnde.sigef.base.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="xml.fnde.ws-sigef.base.xsd" />
  <xs:complexType name="empenhoConsultarRow">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="nu_seq_mov_ne" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="status" type="status" />
      <xs:element minOccurs="0" maxOccurs="1" name="situacao_documento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="nu_empenho" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="dt_emissao" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="valor_empenho">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="nu_processo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="header" />
        <xs:element name="status" type="status" />
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="row" type="empenhoConsultarRow" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>